<nav class="navbar navbar-inverse">
    <div class="container">
        <a href="/">
            <div class="navbar-header">
                <span class="navbar-brand">Leo Ng</span>
                <img class="logo" src="../assets/images/logo">
            </div>
        </a>
        <div *ngIf="loc == '/'">
            <ul class="nav navbar-nav">
                <li class="work active"><a href="/">Work</a></li>
                <li class="about"><a href="/about">About</a></li>
            </ul>
        </div>
        <div *ngIf="loc == '/about'">
            <ul class="nav navbar-nav">
                <li class="work"><a href="/">Work</a></li>
                <li class="about active"><a href="/about">About</a></li>
            </ul>
        </div>
        <div *ngIf="loc != '/about' && loc != '/'">
            <ul class="nav navbar-nav">
                <li class="work"><a href="/">Work</a></li>
                <li class="about"><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>