html, 
body {
    
    overflow: hidden;
    /* background-image: url("../images/landing_background.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: black; */
    
}